{% extends 'base.html' %} 

{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}    

{% block content %}
  <main>
    <div class="container py-5">
      <article>
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        <h3>Всего постов: {{ author.posts.count }} </h3>
        {% if request.user != author %}
          {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
          {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
          {% endif %}
        {% endif %}
        {% for post in page_obj %} 
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        {% if post.group %}    
        <a href="{% url 'posts:group_list' slug=post.group.slug %}">все записи группы</a>
        {% endif %}
        <p><a href="{% url 'posts:post_detail' post_id=post.id %}">подробная информация </a></p>
        {% endfor %} 
      </article>
    </div>
  </main>
{% endblock %}

