

{% extends 'base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Изменить пароль</div>
      <div class="card-body">
          {% with action_url='users:password_change_form' %}
          {% include 'users/includes/form.html' %}
          {% endwith %}
          <div class="col-md-6 offset-md-5">
            <button type="submit" class="btn btn-primary">
              Изменить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

